# Portland Riders Data Cleaning

The dataset for Ridership in Portland have some dates issues (1960 instead of 1973) and the number of riders is divided by 100. This short code will clean up the dates and riders column into a usable univariate time serie.

Reference - https://datamarket.com/data/set/22w6/portland-oregon-average-monthly-bus-ridership-100-january-1973-through-june-1982-n114#!ds=22w6&display=line

In [15]:
# Load File
from dateutil.relativedelta import relativedelta
import pandas as pd
url = 'https://raw.githubusercontent.com/tristanga/Data-Cleaning/master/Converting%20Time%20Series/Portland%20Riders%20Raw.csv'
df = pd.read_csv(url)
df.month = pd.to_datetime(df.month,format='%Y-%m')
df.head()

       month  riders
0 1960-01-01     648
1 1960-02-01     646
2 1960-03-01     639
3 1960-04-01     654
4 1960-05-01     630

In [16]:
# Convert riders 
df['riders'] = df.riders.apply(lambda x: int(x)*100)

In [17]:
# Create a new date index starting in 1973 riders 
import datetime
start = datetime.datetime.strptime("1973-01-01", "%Y-%m-%d")
date_list = [start + relativedelta(months=x) for x in range(0,len(df))]
df.index =date_list

In [18]:
# Save as CSV
df = df.drop(['month'], axis=1)
df.to_csv('Portland Riders.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 114 entries, 1973-01-01 to 1982-06-01
Data columns (total 1 columns):
riders    114 non-null int64
dtypes: int64(1)
memory usage: 1.8 KB